.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Bild und Inhalt vertikal zentrieren */
  background-color: #d9d9d9;
  border: #000000 1px solid;
  height: 35rem;
  position: relative;
  width: 80%;
  left: 9.5%;
}

.post-card img {
  position: absolute;
  top: 5%;
  width: 85%;
  height: auto;
  align-items: center;
  border: #000000 1px solid;
  height: 75%;
  object-fit: cover;
}

.post-meta {
  text-align: center;
  margin-top: 40%;
}

.post-infos {
  position: relative;
  flex-direction: column;
  margin-top: 100%;
  padding-left: 0%;
  text-align: center;
}

.post-category {
  background-color: #d9d9d9;
  font-size: 1rem;
  border: #000000 1px solid;
  width: 30%;
}

.post-infos big {
  padding-left: 2px;
  padding-right: 2px;
  background-color: #d9d9d9;
  border: #000000 1px solid;
  position: relative;
  display: absolute;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
}

.likes {
  display: contents;
  color: green;
}

.dislikes {
  display: contents;
  color: red;
}

.date {
  top: 10px;
  right: 10px;
  font-size: 0.8rem;
  color: #555;
}

.comments {
  position: absolute;
  bottom: 7%;
  left: 10%;
  font-size: 1rem;
  color: #000000;
}

.bookmark {
  position: absolute;
  bottom: 7%;
  right: 10%;
  font-size: 1rem;
  color: #000000;
}
